@import "../../../assets/variables";
section#landing-page{
  padding:0;
  margin: 0;
  background:  url("../../../assets/images/beer_bottles_liten.jpg") no-repeat;
  height: 100vh;
  width: 100vw;
  color: white;
}