@import "../../../assets/variables";

section#landing-page {
  padding: 0;
  margin: 0;
  color: white;
  height:auto;
	min-height:100vh;
	background-image:url("../../../assets/images/beer_bottles_liten.jpg");
	background-size:cover;
	background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;

  .welcome-button{
    background-color: $main-color;
    color: white;
    padding: 20px;
  }
}
