<section id="landing-page">

    <div class="index-banner" #banner>
        <div class="welcome-text">
            Global Experts in RGB
            <p class="sub-title">
                We give your machine a second life
            </p>
        </div>
        <div class="welcome-button" (click)="scrollToVision()" >
            Learn more about us
            <span class="icon ion-ios-arrow-forward"></span>
        </div>
    </div>

    <scroll-button [scrollDown]="scrollDown" (onScroll)="scroll()"></scroll-button>

    <!--<div class="article">-->
        <!--<p>-->
            <!--text is:  {{'welcome_text' | translate}}-->
        <!--</p>-->
    <!--</div>-->

    <div #ourVision class="article">
        <app-our-vision></app-our-vision>
    </div>

    <div #whoWeAre class="article" >
        <app-who-we-are></app-who-we-are>
    </div>

    <div #ourApproach class="article">
        <app-approach></app-approach>
    </div>


</section>
