@import "../../../assets/variables";

section#contact {
  background-color: $card-background-color;
  margin-top: $nav-bar-height;

  div.contact-banner {
    color: white;
    height: auto;
    min-height: 25vh;
    background-size: cover !important;
    background: url("../../../assets/images/people.jpg") center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  #submit-button {
    background-color: $main-color;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 15px;
  }

  .contact-content {
   display: flex;
   flex-direction: row;
    justify-content: center;
    .contact-form {
      padding: 10% 2%;

      input{
        padding: 1%;
        background-color: #F5F5F5;
        min-width: 35%;
        border-radius: 15px;
      }

      textarea{
       min-width: 35%;
        padding: 1%;
        background-color: #F5F5F5;
        border-radius: 15px;
      }

    }
    .info {

    }
  }

}