<section id="navigation-container" [ngClass]="{'open': navOpen}">
    <div [ngClass]="{'open': navOpen}" id="navigation">
        <a routerLink="/home"><img id="logo" [src]="logoPath"></a>

        <div id="hamburger-menu" [ngClass]="{'open': navOpen}" (click)="toggle()">
            <span></span>
            <span></span>
            <span></span>
        </div>


        <ul  [ngClass]="{'open': navOpen}">
            <li>
                <a routerLink="/home" (click)="navigate()">Home</a>
            </li>

            <li *ngFor="let link of links">
                <a *ngIf="link.path && !link.children" [routerLink]="link.path"> {{link.text}} </a>
                <a *ngIf="link.children" [ngClass]="{'selected': (link === chosenLink) && subMenuOpen}"
                   (click)="toggleSubMenu(link)"> {{link.text}} </a>
                <div *ngIf="link === chosenLink" class="sub-menu" [ngClass]="{'open': subMenuOpen}">
                    <p *ngFor="let child of link.children">
                        <a [routerLink]="child.path" fragment="child.path" (click)="navigate()">{{child.text}}</a>
                    </p>
                </div>
            </li>

            <li id="language"><a [ngClass]="{'selected': currentLanguage === 'en'}" (click)="changeTranslation('en')" >ENG</a> | <a [ngClass]="{'selected': currentLanguage === 'fr'}"  (click)="changeTranslation('fr')">FR</a></li>
        </ul>

    </div>
</section>
