@import '../../../assets/_variables.scss';

section#slide-side-navigation{
  display: flex;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white!important;
  z-index: 1000;

  span.slide-out-button{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: row;
    left: -25px;
    background-color: $main-color;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    z-index: 1000;

    &.open{
      left: -35px;
      justify-content: center;
    }
    mat-icon{
      padding:0;
      margin:0;
      height: auto;
      width: auto;
      font-size: 30px;
      color: white!important;
    }
  }


  .content{
    max-width: 0;
    transition: all ease-in-out .2s ;
    z-index: 100;
    text-align:center;
    overflow: hidden;
    width: unset;
    min-width: unset;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

    &.open{
      max-width: 5000px;
      padding: 25px;
    }
  }
}