<section id="desktop-navigation" [ngClass]="{'transparent': isTransparent}">
    <div class="page"  id="navigation">
        <a routerLink="/home"><img id="logo" [src]="isTransparent ? logoHidePath : logoShowPath"></a>
        <ul>
            <li><a routerLink="/home" (click)="navigate()">Home</a></li>
            <li *ngFor="let link of links">
                <a *ngIf="link.path && !link.children"   routerLinkActive="active-link" [routerLink]="link.path" (click)="navigate()"> {{link.text}} </a>
                <a *ngIf="link.children" (click)="toggleSubMenu(link)"> {{link.text}} </a>
            </li>
            <li  (click)="openLanguagePicker()">
                <div class="language-picker">
                    <mat-icon> language</mat-icon>
                    {{selectedLanguage.language}}
                </div>
            </li>
        </ul>
    </div>


    <div class="sub-menu-desktop page" [ngClass]="{'open': languagePickerOpen}">
        <div class="sub-menu-desktop-description">
            Choose your language
        </div>

        <div class="sub-menu-desktop-content">
            <p *ngFor="let language of languages">
                <a  [ngClass]="{'active-language': language === selectedLanguage}" (click)="changeLanguage(language)">{{language.language}}</a>
            </p>
        </div>
    </div>

    <div *ngIf="chosenLink && chosenLink.children" class="sub-menu-desktop page" [ngClass]="{'open': subMenuOpen}">
        <div class="sub-menu-desktop-description">
            <a [routerLink]="chosenLink.path" (click)="navigate()">{{chosenLink.text}}</a>
        </div>

        <div class="sub-menu-desktop-content">
            <p *ngFor="let child of chosenLink.children">
                <a [routerLink]="child.path"  routerLinkActive="active-link" (click)="navigate()">{{child.text}}</a>
            </p>
        </div>
    </div>
</section>