@import "../../../../assets/variables";

.product-container {
  width: 100%;
  max-width: 300px;
  box-shadow: 7px 7px 21px -5px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  transition: all .2s ease-in-out;
  position: relative;
  height: 500px;

  &:hover {
    transform: scale(1.025);
    cursor: pointer;
  }

  .product-header {
    position: relative;

    img {
      height: auto;
      width: 100%;
    }

    .label-container {
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 20px;

      .label {
        box-shadow: 0 0 3px #ccc;
        text-align: center;
        border-radius: 4px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px;
        background-color: $main-color;

        &.BOTTLE_WASHERS {
          background-color:$main-color;
        }

        &.FILLERS {
          background-color: $filler-color;
        }

        &.OTHERS {
          background-color: $others-color;
        }

      }
    }

  }

  .product-content {
    padding: 5px;
    min-height: 200px;
    max-height: 200px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;

    h2 {
      margin-top: 0;
      color: $main-color;
    }

    p {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .product-footer {
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 3px #ccc;
  }
}