@import "../../../../assets/variables";

//border: 1px solid #EEEE;
//    background: #F7F8F9;


.product-container {
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  max-width: 300px;
  box-shadow: 7px 7px 21px -5px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  transition: all .2s ease-in-out;
  position: relative;
  overflow: hidden;

  &:hover {
    transform: scale(1.025);
    cursor: pointer;
  }

  .product-header {
    position: relative;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    img {
      height: auto;
      width: 100%;
    }

    .label-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      margin: 20px;

      .label {
        box-shadow: 0 0 3px #ccc;
        text-align: center;
        border-radius: 4px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px;
        margin: 0 5px;
        background-color: $main-color;

        &.BOTTLE_WASHERS {
          margin: 5px 0;
          background-color:$main-color;
        }

        &.FILLERS {
          margin: 5px 0;
          background-color: $filler-color;
        }

        &.OTHERS {
          margin: 5px 0;
          background-color: $others-color;
        }

      }
    }

  }

  .product-content {
    padding: 5px;
    min-height: 100px;
    max-height: 100px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;

    h2 {
      margin-left: 20px;
      text-align: left;
      font-size: 1.5em;
      margin-top: 0;
      color: $main-color;
    }

    p {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .product-footer {
    background-color: $card-background-color;
    text-align: center;
    padding:  10px;
    box-shadow: 0 0 3px #ccc;
  }
}
