<div class="product-container" (click)="showModal()">
  <div class="product-header">
    <div class="image-container">
      <img [src]="image" />
    </div>

    <div class="label-container">
      <span class="outer-span" [innerHTML]="spans()"></span>
    </div>
  </div>

  <div class="product-content">
    <span class="suitable-for">Suitable for</span>
    <ul>
      <li>
        <span *ngFor="let type of types">
          {{ type.value }}
        </span>
      </li>
      <li>{{ suitableForString }}</li>
    </ul>
  </div>

  <div *ngIf="solutionBenefits" class="product-footer">
    <app-legend [productBenefits]="solutionBenefits"></app-legend>
  </div>
</div>
<app-product-detail [product]="product" *ngIf="isModalVisible" (close)="close()"></app-product-detail>