<div class="product-container" (click)="showModal()">
    <div class="product-header">
        <img src="../../../assets/images/product_1.jpg"/>

        <div class="label-container">
            <span class="{{'label ' + type.key}}" *ngFor="let type of types"> {{type.value}}</span>
        </div>
    </div>

    <div class="product-content">
        <h2>{{product?.name}}</h2>
    </div>

    <div *ngIf="benifts" class="product-footer">
        {{benifts}}
    </div>
</div>
<app-product-detail [product]="product" *ngIf="isModalVisible" (close)="close()"></app-product-detail>