<div class="modal">
    <div class="product-modal">
        <div class="title-container">

            <div class="title-title">
                <h1>{{product?.name}}</h1>
            </div>

            <div class="slideshow">
                <img src="../../../assets/images/people.jpg"/>
                <i class="material-icons">keyboard_arrow_left</i>
                <i class="material-icons">keyboard_arrow_right</i>
            </div>

        </div>

        <div class="content-container">
            <div class="content-title">
                <div class="benefit-container">
                    <h1>Suitable for</h1>
                    <span *ngFor="let type of types">{{type.value}}</span>
                </div>

                <i class="material-icons icon-close" (click)="closeModal()">
                    clear
                </i>
            </div>
            <div class="menu">
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Description">
                        <div class="details">
                                {{product?.description}}
                        </div>
                    </mat-tab>
                    <mat-tab label="Tech specs">
                        <div class="details">
                            {{product?.spec}}
                        </div>
                    </mat-tab>
                    <mat-tab label="Benefits">
                        <div class="details">
                            {{product?.solution.benefitDescription}}
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>

        </div>
    </div>
</div>