<div class="modal">
  <div class="product-modal">
    <div class="title-container">
      <h1 [ngStyle]="{ 'background-color': color }" class="product-title">
        {{ product.name }}
      </h1>
      <div class="slideshow">
        <slideshow #slideshow [showArrows]="false" [imageUrls]="imageSources" [lazyLoad]="imageSources?.length > 1"
          [autoPlayWaitForLazyLoad]="true" [captionBackground]="'transparent'" [showDots]="true">
        </slideshow>
        <!-- <img src="../../../assets/images/people.jpg" /> -->
        <i *ngIf="imageSources?.length > 1" class="material-icons" (click)="swipeLeft()">keyboard_arrow_left</i>
        <i *ngIf="imageSources?.length > 1" class="material-icons" (click)="swipeRight()">keyboard_arrow_right</i>
      </div>
    </div>

    <div class="content-container">
      <div class="content-title">
        <div class="benefit-container">
          <h1>Suitable for</h1>
          <span class="benefit" *ngFor="let type of types">
            {{ type.value }}
          </span>
          <ul>
            <li *ngFor="let suitable of product.solution.suitableFor">
              {{ suitable }}
            </li>
          </ul>
        </div>

        <i class="material-icons icon-close" (click)="closeModal()">
          clear
        </i>
      </div>
      <div class="menu">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Description">
            <div class="details">
              <h1>Description</h1>
              {{ product?.description }}
            </div>
          </mat-tab>
          <mat-tab label="Benefits">
            <div class="details benefitContainer">
              <div>
                <h1>Benefits</h1>
              </div>
              <div>
                <span class="benefitString" *ngFor="let solution of solutionBenefits">
                  <div class="legend-item">
                    <div [ngStyle]="{
                        'background-color': getColorByBenefit(solution),
                        'margin-right': benefits ? '0' : '10px'
                      }" class="colored">
                      {{ getTextByBenefit(solution) }}
                    </div>
                  </div>

                  {{solution.description}}
                </span>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Tech specs">
            <div class="details">
              <h1>Tech specs</h1>
              <div [innerHtml]="product.specString"></div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>