<section id="admin-solutions">
  <h1>Solutions</h1>
  <p>Overview of the solutions that are currently in the system. Click the button below to add a new solution, or use
    the
    icons to edit and/or delete a solution.</p>
  <a class="router-button" routerLink="add">
    <button class="orange-button">
      <span>Add new solution</span>
      <i class="material-icons">add</i>
    </button>
  </a>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
    <tr>
      <td>123</td>
      <td>Example</td>
      <td>Example</td>
      <td class="edit">
        <a [routerLink]="['edit', 1]">
          <i class="material-icons">
            create
          </i>
        </a>
        <i class="material-icons" (click)="showModal()">
          delete_sweep
        </i>
      </td>
    </tr>
    <tr>
      <td>123</td>
      <td>Example</td>
      <td>Example</td>
      <td class="edit">
        <a [routerLink]="['edit', 1]">
          <i class="material-icons">
            create
          </i>
        </a>
        <i class="material-icons" (click)="showModal()">
          delete_sweep
        </i>
      </td>
    </tr>
    <tr>
      <td>123</td>
      <td>Example</td>
      <td>Example</td>
      <td class="edit">
        <a [routerLink]="['edit', 1]">
          <i class="material-icons">
            create
          </i>
        </a>
        <i class="material-icons" (click)="showModal()">
          delete_sweep
        </i>
      </td>
    </tr>
    <tr>
      <td>123</td>
      <td>Example</td>
      <td>Example</td>
      <td class="edit">
        <a [routerLink]="['edit', 1]">
          <i class="material-icons">
            create
          </i>
        </a>
        <i class="material-icons" (click)="showModal()">
          delete_sweep
        </i>
      </td>
    </tr>
    <tr>
      <td>123</td>
      <td>Example</td>
      <td>Example</td>
      <td class="edit">
        <a [routerLink]="['edit', 1]">
          <i class="material-icons">
            create
          </i>
        </a>
        <i class="material-icons" (click)="showModal()">
          delete_sweep
        </i>
      </td>
    </tr>
    <tr>
      <td>123</td>
      <td>Example</td>
      <td>Example</td>
      <td class="edit">
        <a [routerLink]="['edit', 1]">
          <i class="material-icons">
            create
          </i>
        </a>
        <i class="material-icons" (click)="showModal()">
          delete_sweep
        </i>
      </td>
    </tr>
  </table>
</section>
<app-dashboard-modal *ngIf="isModalShown">
  <h1>Are you sure?</h1>
  <p>Do you really want to delete solution 'PRODUCTNAME'? This solution will permanently be deleted from your system.</p>
  <div class="buttons">
    <button class="orange-button" (click)="cancel()">No</button>
    <button class="orange-button" (click)="delete()">Yes</button>
  </div>
</app-dashboard-modal>