@import "../../../assets/variables";

footer {
  font-size: 12px;
  display: flex;
  background-color: $footer-color;
  flex-direction: column;
  align-items: center;

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;

    @media screen and (min-width: 768px) {
      padding: 20px;
      h2 {
        margin-top: 0;
        margin-bottom: 10px;
        color: $main-color;
      }

      ul {
        list-style-type: none;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        li {
          margin-bottom: 3px;
          a {
            text-decoration: none;
            color: black;
            font-size: 16px;
            &:hover {
              color: $main-color;
              text-decoration: underline;
              text-decoration-color: $main-color;
            }
          }
        }
      }

      div {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .mobile-footer-text {
      margin-bottom: 5px;
      font-size: 12px;
    }
  }


  table {
    border-spacing: 0;
    tr {
      td {
        padding: 2.5px;
        font-size: 16px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  img{
    margin: auto;
    height: 50px;
    width: 50px;

    @media screen and (max-width: 768px) {
      margin: 5px 0;
      height: 50px;
      width: 50px;
    }
  }

  .footer-info{
    flex-direction: column;
    display: inline-flex;
    justify-content: center;
    font-size: 0.7em;
  }

  @media (min-width: 768px) {
    justify-content: space-between !important;

    img{
      height: 150px;
      width: 150px;
    }

    .footer-info{
      flex-direction: column;
      display: inline-flex;
      justify-content: center;
      font-size: 15px;
    }
  }
}
