@import "../../../assets/variables";

footer {
  font-size: 12px;
  display: flex;
  background-color: $footer-color;
  flex-direction: column;
  align-items: center;

  table {
    border-spacing: 15px 5px;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  img{
    margin: 10px;
    height: 50px;
    width: 50px;

    @media screen and (max-width: 768px) {
      margin: 10px 0;
      height: 75px;
      width: 75px;
    }
  }

  .footer-info{
    flex-direction: column;
    display: inline-flex;
    justify-content: center;
    font-size: 0.7em;

    .mobile-footer-text {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  @media (min-width: 768px) {
    justify-content: space-between !important;

    img{
      height: 150px;
      width: 150px;
    }
    .footer-info{
      flex-direction: column;
      display: inline-flex;
      justify-content: center;
      font-size: 15px;
    }

  }
}
