@import "../../../assets/variables";

footer{
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $footer-color;
  justify-content: space-between;

  img{
    padding: 2%;
    width: 75px;
    height: 75px;
    @media (min-width: 768px) {
      width: 150px;
      height: 150px;
    }
  }

  .footer-info{
    flex-direction: column;
    display: inline-flex;
    justify-content: center;
    padding: 20px;
  }
}