<footer class="page">
  <img src="../../../assets/images/sticker_round.png" width="150px" height="150px">
  <div class="footer-info">
    <div *ngIf="isMobile">
      <div class="mobile-footer-text">&copy; New Crown Service Partners NV/SA</div>
    </div>
    <table *ngIf="!isMobile">
      <tr>
        <td colspan="2">
          New Crown Service Partners NV/SA
        </td>
      </tr>
      <tr>
        <td>
          Gansbroekstraat 27
        </td>
        <td>
          Tel +32 3 434 92 69
        </td>
      </tr>

      <tr>
        <td>
          B-2870 Puurs 
        </td>
        <td>
          info@newcrownservice.com
        </td>
      </tr>

      <tr>
        <td>
          Belgium
        </td>
        <td>
          VAT BE 0682 902 665
        </td>
      </tr>
    </table>
  </div>

</footer>
