<section id="contact">


    <div class="contact-banner">
        <h1>Contact Us</h1>
    </div>

    <div class="contact-content">
        <div class="contact-form">
            <mat-card>
                <mat-card-header>
                    <h2>Contact us by mail</h2>
                </mat-card-header>
                <mat-card-content class="px-lg-5 pt-0">

                    <form #form method="post" style="color: #757575;" [formGroup]="contactForm" enctype="text/plain" method="post">

                        <div>
                            <mat-form-field appearance="standard">
                                <mat-label>NAME</mat-label>
                                <input matInput class="capitalize" placeholder="NAME" formControlName="fromName">
                                <mat-error>Name is required</mat-error>
                            </mat-form-field>
                        </div>


                        <div>
                            <mat-form-field appearance="standard">
                                <mat-label>E-MAIL</mat-label>
                                <input type="text" laceholder="E-MAIL" matInput formControlName="fromEmail">
                                <mat-error>Please enter a valid e-mail address</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="standard">
                                <mat-label>Subject</mat-label>
                                <input type="text" matInput placeholder="Subject"formControlName="subject">
                                <mat-error>Subject is required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="text-field">
                            <mat-form-field>
                                <mat-label>Message</mat-label>
                                <textarea matMultiline matAutosize type="text"  formControlName="message" matInput placeholder="Enter your message" aria-multiline="true"></textarea>
                                <mat-error>Message is required</mat-error>
                            </mat-form-field>
                        </div>

                    </form>

                </mat-card-content>

                <mat-card-actions>
                    <button id="send-button" type="submit" (click)="onSubmit()">Send</button>
                </mat-card-actions>

            </mat-card>
        </div>

        <div class="info">
            <mat-card>
                <mat-card-header>
                    <h2>Contact on other channels</h2>
                </mat-card-header>
                <mat-card-content class="px-lg-5 pt-0">

                </mat-card-content>


            </mat-card>

            <mat-card>
                <mat-card-content class="px-lg-5 pt-0">
                    test
                </mat-card-content>


            </mat-card>
        </div>
    </div>


</section>