<section id="generic-url" *ngIf="product">
  <div class="banner">
    <div class="content">
      <h1>Productname</h1>
    </div>
  </div>
  <div class="details">
    <h2>Text for product</h2>
    <div class="info">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor at enim sit amet viverra. Phasellus
        feugiat velit lacinia, cursus enim ac, convallis nunc. Integer sit amet libero nec quam porttitor venenatis.
        Quisque dapibus sollicitudin lectus, id finibus justo bibendum id. Praesent sit amet risus dolor. Nulla
        convallis aliquet eros id viverra. Aliquam tempor, diam at auctor dignissim, nisl eros suscipit justo, in
        gravida neque leo sed lacus. Curabitur a mollis leo. Aenean fringilla vehicula purus vel rhoncus. Pellentesque
        vulputate id lorem ac rutrum. Phasellus tincidunt diam ut semper feugiat. Nam est turpis, auctor eget bibendum
        vitae, feugiat a dolor. Fusce sem diam, semper quis dui et, tristique lacinia tortor. Nullam suscipit accumsan
        elit quis sodales.</p>
      <img src="../../../../assets/images/beer_bottles_liten.jpg" />
    </div>
  </div>
  <div class="triangle"></div>
  <div class="extra-content">
    <h2>Test</h2>
    <p>Test</p>
  </div>
</section>