<section class="upgrades-page">
    <div class="banner">
        <h1>Upgrades, add-ons and conversions</h1>
    </div>

    <div class="article">
        <h1>“You don’t need a new machine, you need your machine to work properly!”</h1>
        <p>Replacing a machine is not always the best economical choice to solve operational problems. When the basic
            structure is sound, any machine can be brought to satisfying performance, for the fraction of the cost of a
            new machine. Complete subassemblies can be replaced to meet current standards in terms of quality,
            sustainability and safety. Revamping a machine offers a lot of benefits:
        </p>

        <ul>
            <li>Short stoppage time needed for installation</li>
            <li>Application of modern technology allowing better monitoring and logging</li>
            <li>Reduced utility consumptions</li>
            <li>Availability of wear and tear parts</li>
            <li>Regained reliability and performance</li>
        </ul>

        <p>
            NEW CROWN offers a wide range of upgrades and conversions suitable for bottling equipment of various makes
            and brands. Best practices in the market are standardized and transformed into products that can be applied
            on any similar equipment.
        </p>
    </div>

    <app-product-list [products]="upgrades"></app-product-list>


</section>