<section>
    <app-slide-side-navigation>
        <div class="slide-nav-content">
            <h2>For Bottle Washers</h2>
            <ul>
                <li><a routerLink="bottlewashers" (click)="changeBenefit(SolutionBefenitType.PERFORMANCE)"> Improve Performance</a></li>
                <li><a routerLink="bottlewashers" (click)="changeBenefit(SolutionBefenitType.HYGIENE)">Improve Hygiene</a></li>
                <li><a routerLink="bottlewashers" (click)="changeBenefit(SolutionBefenitType.WATER_ENERGY)">Save Water/Energy</a></li>
                <li><a routerLink="bottlewashers" (click)="changeBenefit(SolutionBefenitType.COSTS)">Reduce costs</a></li>
            </ul>

            <h2>For Fillers</h2>
            <ul>
                <li><a routerLink="fillers" (click)="changeBenefit(SolutionBefenitType.PERFORMANCE)">Improve Performance</a></li>
                <li><a routerLink="fillers" (click)="changeBenefit(SolutionBefenitType.HYGIENE)">Improve Hygiene</a></li>
                <li><a routerLink="fillers" (click)="changeBenefit(SolutionBefenitType.WATER_ENERGY)">Save Water/Energy</a></li>
                <li><a routerLink="fillers" (click)="changeBenefit(SolutionBefenitType.COSTS)">Reduce costs</a></li>
            </ul>

            <h2>For Other Machines</h2>
            <ul>
                <li><a routerLink="other" (click)="changeBenefit(SolutionBefenitType.PERFORMANCE)">Improve Performance</a></li>
                <li><a routerLink="other" (click)="changeBenefit(SolutionBefenitType.HYGIENE)">Improve Hygiene</a></li>
                <li><a routerLink="other" (click)="changeBenefit(SolutionBefenitType.WATER_ENERGY)">Save Water/Energy</a></li>
                <li><a routerLink="other" (click)="changeBenefit(SolutionBefenitType.COSTS)">Reduce costs</a></li>
            </ul>
        </div>
    </app-slide-side-navigation>
    <router-outlet></router-outlet>

</section>