@import "../../../assets/variables";
#products {
  margin-top: $nav-bar-height;
  background-color: white;
  .banner{
    background: url("../../../assets/images/people.jpg") center top;
  }
  .categories {
    .outer-div {
      display: flex;
      flex-direction: column;
      .content {
        padding: 20px 40px;

        .more {
          text-decoration: none;
        }
      }
      &:nth-child(2n+1) {
        .content {
          background-color: $light-grey;
        }
        .triangle {
          border-color: $light-grey transparent transparent transparent;
        }
      }
      &:nth-child(2n) {
        .content {
          background-color: white;
          h1, p {
            text-align: right;
          }
          .more {
            button {
              margin-left: auto;
              //margin-right: 20px;
            }
          }
        }
        .triangle {
          border-color: white transparent transparent transparent;
        }
      }
    }
  }
}