<section class="product-page">
    <div class="banner">
        <div class="content">
            <h1>Our products</h1>
            <!--<div class="banner-button" (click)="scrollToProducts()">-->
                <!--Discover our products-->
                <!--<span class="icon ion-ios-arrow-forward"></span>-->
            <!--</div>-->
        </div>
    </div>

    <div class="article product-group">

        <div class="product-group-container">
            <div class="product-group-header">
                <img src="../../../assets/images/default-placeholder.jpg"/>
            </div>

            <div class="product-group-content">
                <h2>Parts</h2>
                <p>LLorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu volutpat urna, at ultrices
                    magna.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum
                    quis
                    lectus tellus. Quisque vel hendrerit nisl.</p>
            </div>

            <div class="learn-more-button" routerLink="/products/parts">
                Learn more   <span class="icon ion-ios-arrow-forward"></span>
            </div>
        </div>

        <div class="product-group-container">
            <div class="product-group-header">
                <img src="../../../assets/images/default-placeholder.jpg"/>
            </div>

            <div class="product-group-content">
                <h2>Upgrades, add-ons and
                    conversions</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu volutpat urna, at ultrices
                    magna.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum
                    quis
                    lectus tellus. Quisque vel hendrerit nisl.</p>
            </div>

            <div class="learn-more-button" routerLink="/products/upgrades">
                Learn more   <span class="icon ion-ios-arrow-forward"></span>
            </div>

        </div>

        <div class="product-group-container">
            <div class="product-group-header">
                <img src="../../../assets/images/default-placeholder.jpg"/>
            </div>

            <div class="product-group-content">
                <h2>Services</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu volutpat urna, at ultrices
                    magna.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum
                    quis
                    lectus tellus. Quisque vel hendrerit nisl.</p>
            </div>
            <div class="learn-more-button" routerLink="/products/services">
                Learn more  <span class="icon ion-ios-arrow-forward"></span>
            </div>
        </div>
    </div>

    <div #productsView class="productsContainer">
        <app-product-list (onProductSelected)="onProductClick()" [products]="products"></app-product-list>
    </div>


    <app-slide-side-navigation [isOpen]="filtersOpen" (onOpenStateChange)="filtersOpen = $event">
        <div class="slide-nav-content">
            <!--<h1>Product type</h1>-->
            <!--<ul>-->
                <!--<li>-->
                    <!--<mat-checkbox>Parts</mat-checkbox>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<mat-checkbox>-->
                        <!--Upgrades, add-ons and-->
                        <!--conversions-->
                    <!--</mat-checkbox>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<mat-checkbox>Services</mat-checkbox>-->
                <!--</li>-->
            <!--</ul>-->
            <h1>Suitable for</h1>
            <ul>
                <li *ngFor="let solution of suitableFor">
                    <mat-checkbox [checked]="solution.checked" (click)="updateFilters()" (change)="solution.checked=$event.checked">{{solution.name}}</mat-checkbox>
                </li>
            </ul>

            <h1>Benefit</h1>
            <ul>
                <li *ngFor="let benefit of benefits">
                    <mat-checkbox  [checked]="benefit.checked"  (click)="updateFilters()"  (change)="benefit.checked=$event.checked" >{{benefit.name}}</mat-checkbox>
                </li>
            </ul>
        </div>
    </app-slide-side-navigation>
</section>