@import "../../../assets/variables";

.product-page {
  .banner {
    position: relative;
    background: url('../../../assets/images/product/prod_pic_1.jpg') center center;
    min-height: 25vh;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
      opacity: .45;
      z-index: 0;
    }

    .content{
      z-index: 2;
    }
  }

  .product-types {
    h2 {
      color: $main-color;
    }

    div.article{
      background:$card-background-color !important;
      &:nth-child(odd) {
        background: white !important;
      }
    }
  }



  ::ng-deep app-slide-side-navigation {
    display: flex;
    justify-content: center;
    overflow: scroll;
    a {
      cursor: pointer;
      color: black;;
      text-decoration: none;
    }
    ul {
      text-align: left;
      padding: 0;
      list-style: none;
      li {
        padding: 10px 0;
      }
    }
    h1 {
      font-size: 1.5em;
      margin: 0;
      color: $main-color;
    }
  }
}
