<section class="product-page">
    <div class="banner">
        <h1>Our products</h1>
    </div>

    <app-product-list [products]="products"></app-product-list>


    <app-slide-side-navigation>
        <div class="slide-nav-content">
            <h1>Product type</h1>
            <ul>
                <li>
                    <mat-checkbox>Parts</mat-checkbox>
                </li>
                <li>
                    <mat-checkbox>
                        Upgrades, add-ons and
                        conversions
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox>Services</mat-checkbox>
                </li>
            </ul>
            <h1>Suitable for</h1>
            <ul>
                <li *ngFor="let solution of suitableFor">
                    <mat-checkbox >{{solution}}</mat-checkbox>
                </li>
            </ul>

            <h1>Benefit</h1>
            <ul>
                <li *ngFor="let benefit of benefits">
                    <mat-checkbox>{{benefit}}</mat-checkbox>
                </li>
            </ul>
        </div>
    </app-slide-side-navigation>
</section>