.legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;

  .colored {
    padding: 10px;
    border-radius: 50%;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
