<section>
    <app-slide-side-navigation>
        <div class="slide-nav-content">
            <h2>Crown-Baele</h2>
            <ul>
                <li><a routerLink="/products/crown-baele/parts" routerLinkActive="active-link">Parts</a></li>
                <li><a routerLink="/products/crown-baele/upgrades" routerLinkActive="active-link">Upgrades</a></li>
                <li><a routerLink="/products/crown-baele/add-ons" routerLinkActive="active-link">Add-ons</a></li>
                <li><a routerLink="/products/crown-baele/services" routerLinkActive="active-link">Services</a></li>
            </ul>

            <h2>Third party</h2>
            <ul>
                <li><a routerLink="/products/third-party/parts" routerLinkActive="active-link">Parts</a></li>
                <li><a routerLink="/products/third-party/upgrades" routerLinkActive="active-link">Upgrades</a></li>
                <li><a routerLink="/products/third-party/add-ons" routerLinkActive="active-link">Add-ons</a></li>
                <li><a routerLink="/products/third-party/services" routerLinkActive="active-link">Services</a></li>
            </ul>
        </div>
    </app-slide-side-navigation>


    <router-outlet></router-outlet>
</section>