<section>
    <app-slide-side-navigation>
        <div class="slide-nav-content">
            <h2>Crown-Baele</h2>
            <ul>
                <li><a routerLink="parts">Parts</a></li>
                <li><a routerLink="upgrades">Upgrades</a></li>
                <li><a routerLink="add-ons">Add-ons</a></li>
                <li><a routerLink="services">Services</a></li>
            </ul>

            <h2>Third party</h2>
            <ul>
                <li><a routerLink="parts">Parts</a></li>
                <li><a routerLink="upgrades">Upgrades</a></li>
                <li><a routerLink="add-ons">Add-ons</a></li>
                <li><a routerLink="services">Services</a></li>
            </ul>
        </div>
    </app-slide-side-navigation>


    <router-outlet></router-outlet>
</section>