<section class="service-page">
    <div class="banner">
        <div class="content">
            <h1>Services</h1>
        </div>
    </div>

    <div #whoWeAre class="article">
        <div class="content">
            <div class="image-text">
                <h2>The origins of the crown</h2>
                <p>NEW CROWN Service Partners NV was founded in October 2017 by two former employees and acquired the
                    intellectual property and trade fund of CROWN-BAELE, who was declared bankrupt a month before.
                    This makes NEW CROWN the sole official OEM of CROWN-BAELE parts and assemblies.
                </p>
                <p>They took the name NEW CROWN to mark the inseparable connection with the history of its illustrious
                    predecessor yet indicating a new business model and ambition in becoming the reference for
                    upgrading
                    older
                    equipment in the global RGB industry.</p>
            </div>
        </div>
    </div>
</section>