<section id="solutions-list">
  <div class="list">
    <div class="header">
      <h2 *ngIf="isBottleWashersPage()">Improve performance for your bottle washers</h2>
      <h2 *ngIf="isFiltersPage()">Improve performance for your filters</h2>
      <h2 *ngIf="!isBottleWashersPage() && !isFiltersPage()">Improve performance for any other machine</h2>
      <div class="search">
        <div class="input">
          <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="search" />
      </div>
    </div>
    <div class="solutions">
      <app-solution *ngFor="let solution of solutions" [solution]="solution"></app-solution>
    </div>
  </div>
</section>