<article id="about">
    <h1>About us</h1>

    <h2>
        NEW CROWN SERVICE PARTNERS NV
    </h2>

    <p>

        Founded in October 2017, it acquired the intellectual property of Crown-Baele NV, declared bankrupt in September
        2017. The ownership of NEW CROWN Service Partners NV is held by business partners Thomas Bernolet and Verney
        Poynton, and by strategic partner LAMBRECHTS GROUP.
    </p>

    <p>
        Both directors have a past at Crown-Baele and are very well acquainted with the brewery and soft drinks
        industry. Lambrechts Group has a long and successful track record as an equipment manufacturer of kegging lines
        and industrial washing installations in the brewery industry. There are many possible synergies between New
        Crown Service Partners and Lambrechts Group. This alliance strengthens their positions on the market.

        The NCSP team is a great mix of seasoned experience and young enthusiasm, of proven solutions and new
        technologies. We offer global services, in Belgium, in Europe and outside, with a special knack for Africa,
        where we all have a long time experience, and where we know we can mean a lot to our customers.
    </p>


</article>
