$main-color: #EC6407;
$second-color: #687A8F;
$third-color: #F7C331;
$fourth-color: #DCC7AA;
$footer-color: #DEDFE2;
$card-background-color: #F7F8F9;
$nav-bar-height: 125px;
$nav-bar-height-mobile: 75px;
$nav-bar-color: #999997;
$light-grey: #F5F5F5;
$filler-color: #07DDEC;
$others-color: #2FEF1F;

$font-size-extra-large: 2.5em;
$font-size-large: 1.6em;
$font-size-medium: 1.2em;
