<section id="product-list">
    <div class="banner">
        <div class="content">
            <h1 *ngIf="isCrownBaelePage()">Crown-Baele products</h1>
            <h1 *ngIf="!isCrownBaelePage()">Third-party products</h1>
        </div>
    </div>
    <div class="products">
      <div class="header">
        <h2>Please select a part for more information</h2>
        <div class="search">
          <div class="input">
            <i class="material-icons">search</i>
          </div>
          <input type="text" placeholder="search"/>
          <!--<button class="orange-button">Search a part</button>-->
        </div>
      </div>
      <div class="content">
          <app-product [product]="product" *ngFor="let product of products" (click)="selectProduct(product)"></app-product>
      </div>
    </div>
    <app-product-detail [product]="selectedProduct" *ngIf="selectedProduct" (close)="removeSelectedProduct()"></app-product-detail>
</section>