/* You can add global styles to this file, and also import other style files */
@import "./assets/variables";
@import '~@angular/material/theming';
@include mat-core();

$candy-app-primary: mat-palette($mat-deep-orange);
$candy-app-accent: mat-palette($mat-blue-gray, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  //on mobile
  @media (max-width: 767px) {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
}

span[class*="ion-md-"] {
  padding: 10px;
  font-size: 25px;
}

.page{
  padding: 0 10%;
}

h1, h2, h3{
  &.centered{
    text-align: center;
  }
}

.article {
  padding: 2% 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  text-align: center;


  &.image-banner{
    min-height: 25vh;
    max-height: 25vh;
    img {
      min-height: 100%;
      margin: 10px 0;
      min-width: 100%;
      display: block;
    }
  }

  &.image-text{
    img{
      display: block;
      width: 100%;
    }
  }

  &:nth-child(even) {
    background-color: $card-background-color;
  }

  .logo-history {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    .origin-photo {
      padding: 5px;
      img {
        width: 125px;
      }
    }
  }

}
.active-link{
  color: $main-color !important;
  font-weight: bolder;
}

h1 {
  font-size: $font-size-extra-large;
  color: $main-color;
}

h2 {
  font-size: $font-size-large;
  color: white;
}

.banner{
  color: white;
  height: auto;
  min-height: 50vh;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  filter:contrast(150%) brightness(100%) grayscale(1px);

  .content{
    margin-left: 10%;
    h1{
      margin: 10% 0;
    }
  }
  h1{
    margin-left: 10%;
  }
}

.orange-button {
  background-color: $main-color;
  border: none;
  border-radius: 5px;
  padding: 7.5px;
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 7px 21px -5px rgba(0, 0, 0, 0.75);
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 100vw 0 0;
}

@media (min-width: 768px) {
  .article {
    text-align: left;
    &.image-text{
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      img{
        display: inline-block;
        float: right;
        padding:  0  0 0 10%;
        width: 50%;
        max-height: 25vh;
      }
    }
    &:nth-child(even) {
      img{
        display: inline-block;
        padding:  0 10% 0 0;
      }
    }
    .logo-history {
      flex-direction: row;
    }
  }
}

