@import "../../../assets/variables";

$hamburger-width: 30px;
$hamburger-height: 30px;
$image-size: 125px;

section#navigation-container {
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#navigation {
  height: $nav-bar-height;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 7px 7px 21px -5px rgba(0, 0, 0, 0.75);

  &.open {
    background-color: white !important;
  }

  span[class*="ion-ios-"] {
    padding: 0 5px;
  }
  img#logo {
    padding: 5%;
    width: $image-size;
    height: 100px;
  }

  div#hamburger-menu {
    margin: 0 10px;
    position: relative;
    width: $hamburger-height;
    height: $hamburger-width;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: $main-color;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 10px;
      }

      &:nth-child(3) {
        top: 20px;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }
        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }

  ul {
    visibility: hidden;
    padding: 0;
    margin: 0;
    top: $nav-bar-height;
    max-height: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
    &.open {
      background-color: white;
      opacity: .95;
      visibility: visible;
      max-height: 100vh;
    }
    li {
      padding: 2em;
      text-align: center;
      list-style: none;
      cursor: pointer;
      a {
        font-size: 1.2em;
        color: black;
        font-weight: bold;
        text-decoration: none;

        &.selected {
          color: $main-color;
          font-weight: bolder;
        }
      }
    }

    div.sub-menu {
      overflow: hidden;
      max-height: 0;
      transition: max-height .5s ease-out;
      font-size: 0.8em;
      &.open {
        max-height: 500px !important;
      }

    }
  }
}

@media (min-width: 768px) {

  section#navigation-container{

  }
  div#hamburger-menu {
    display: none;
  }

  .selected {
    color: $main-color !important;
    border-bottom: 2px solid $main-color;
    font-weight: bolder;
  }

  img#logo {
    margin-left: 1em;
    width: 100px;
    height: 100px;
  }

  ul {
    visibility: visible !important;
    top: auto !important;
    width: auto !important;
    max-height: none !important;
    display: inline-flex;
    justify-content: flex-end;
    position: relative !important;

    &.open {
      visibility: visible !important;
      display: inline-flex !important;
    }

    li {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 .1em;
      font-weight: bolder !important;
    }
  }

  div.sub-menu-desktop {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    transition: max-height .5s ease-in;
    box-shadow: 7px 7px 21px -5px rgba(0, 0, 0, 0.75);
    &.open {
      border: none;
      max-height: 500px;
      background-color: white;
    }

    * {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .sub-menu-desktop-description {
      background-color: $main-color;
      color: white;
    }

    .sub-menu-desktop-content {
      flex: 1;
      background-color: white;
    }
    a {
      color: black;
      text-decoration: none;

    }

  }

}

