<section id="navigation-container" [ngClass]="{'open': navOpen}">

    <div [@scroll]="navbarState"  [ngClass]="{'open': navOpen}"  id="navigation">
        <a routerLink="/home"><img id="logo" [src] ="logoPath"></a>

        <div id="hamburger-menu" [ngClass]="{'open': navOpen}" (click)="toggle()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <ul [ngClass]="{'open': navOpen}">
            <li><a [@ulScroll]="navbarState" routerLink="/home" (click)="navigate()">Home</a></li>
            <li *ngFor="let link of links">
                <a [@ulScroll]="navbarState" [ngClass]="{'selected': (link === chosenLink) && subMenuOpen}" (click)="toggleSubMenu(link)">{{ link.text }}</a>
                <div *ngIf="isMobile" class="sub-menu" [ngClass]="{'open': (link === chosenLink) && subMenuOpen}">
                    <p *ngFor="let child of link.children">
                        <a [routerLink]="child.path" (click)="navigate()">{{child.text}}</a>
                    </p>
                </div>
            </li>

            <!--<li><a [@ulScroll]="navbarState" routerLink="/approach" (click)="navigate()">Our Approach</a></li>-->
            <li><a [@ulScroll]="navbarState" routerLink="/products" (click)="navigate()">Our Products</a></li>
            <li><a [@ulScroll]="navbarState" routerLink="/services" (click)="navigate()">Our Services</a></li>
        </ul>
    </div>
    <div *ngIf="chosenLink && !isMobile" class="sub-menu-desktop" [ngClass]="{'open': subMenuOpen}">
        <div class="sub-menu-desktop-description">
            <p>{{chosenLink.text}}</p>
        </div>

        <div  class="sub-menu-desktop-content">
            <p *ngFor="let child of chosenLink.children">
                <a [routerLink]="child.path" (click)="navigate()">{{child.text}}</a>
            </p>
        </div>
    </div>
</section>
